/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #333;
    margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  padding-right: 3em;
  padding-left: 3em;
  margin: 0px;
}

nav a:link {
  text-decoration: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #46D6FF;
}

nav a:hover {
  color: #49FCDD;
}

h1 {
  font-size: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
}

nav ul li {
  margin: 0px;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 21px;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

section {
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
}

article {
  display: flex;
  flex: 1 1 0;
  padding: 40px;
}

footer {
  background: #333;
  text-align: center;
  padding: 15px;
}

footer p {
  font-size: 120%;
}

#cougar {
    background: #FF8E47;
    color: #000;
}

#lion {
    background: #FFD5AE;
    color: #000;
}

#tiger {
  background: #FFBD82;
  color: #000;
}

.text {
  padding: 20px;
  font-size: 12pt;
  line-height: 1.5rem;
}

.photo {
  margin-top: 45px;
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #030E5E;
}
a:hover {
    color: #82E8FF;
}
